body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-part-second {
    color: #2e2f42;
}
.nv-list {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nv-list:hover {
    color: #404bbf;
}
.nv-list:focus {
    color: #404bbf;
}
.infodate {
    font-style: normal;
}
.infodatelist {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.infodatelist:hover {
    color: #404bbf;
}
.infodatelist:focus {
    color: #404bbf;
}
.section-first {
    background-color: #2e2f42;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.main-button {
    background-color: #4d5ae5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.main-button:hover {
    background-color: #404bbf;
}
.main-button:focus {
    background-color: #404bbf;
}
.title-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list-section-two {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.ph-section-two {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.s-third {
    background-color: #f4f4fd;
}
.title-of-thsection {
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    line-height: 1.11;
}
.lista-third-sec {
    background-color: #ffffff;
}
.title-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.heading-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.footer-dno {
    background-color: #2e2f42;
}
.logo-footer {
    color: f4f4fd;
}
.pa-footer {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}