* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul , li {
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
